#leftInformation {
    position: fixed;
    top: 65px;
    display: block;
    margin-left: 2%;
    width: 20%;
    min-height: 870px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.7);
}

#isLogin {
    position: relative;
    top: -5px;
    text-align: center;
    margin-top: 60px;
    margin-bottom: -60px;
}

#headShow {
    display: block;
    margin: auto;
    --s: 200px;
    width: var(--s);
    height: var(--s);
    cursor: pointer;
    padding-top: 100px;
    border-radius: 10px;
}

#userInformation {
    display: block;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 5px;
    width: 75%;
    background-color: #7ee4a768;
    border-radius: 10px;
}
#userInformation li {
    list-style: none;
    height: 10%;
    margin: 10px;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}

#rightInformation {
    position: relative;
    left: 25%;
    top: 65px;
    width: 73%;
    height: 870px;
    border-radius: 10px;
    background-color: aliceblue;
}

#loginPage {
    position: relative;
    left: 25%;
    top: 75px;
    width: 50%;
    min-height: 160px;
    background-color: bisque;
    border-radius: 10px;
    box-shadow: 0 0.9rem 1,7rem rgba(0, 0, 0, 0.25);
    overflow: hidden;
}
#loginPage h2 {
    padding-top: 10px;
    text-align: center;
}
#loginPage form {
    display: block;
    align-items: center;
}
#loginPage form div {
    text-align: center;
    font-size: 20px;
}
#loginPage form div input {
    border-radius: 5px;
}
#loginPage form button {
    border-radius: 5px;
    border-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    position: relative;
    background-color: rgb(236, 214, 186);
    min-width: 50px;
    left: 30%;
    margin-top: 10px;
    margin-inline: 40px;
}
#loginPage form button:hover {
    background-color: antiquewhite;
}

#signinPage {
    position: relative;
    left: 25%;
    top: 75px;
    width: 50%;
    min-height: 200px;
    background-color: bisque;
    border-radius: 10px;
}
#signinPage h2 {
    padding-top: 10px;
    text-align: center;
}
#signinPage form {
    display: block;
    align-items: center;
}
#signinPage form img {
    border-radius: 50%;
    border: rgba(0, 0, 0, 0.381);
    border-width: 2px;
    border-style: solid;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
}
#signinPage form div {
    text-align: center;
    font-size: 20px;
}
#signinPage form div input {
    border-radius: 5px;
}
#signinPage form button {
    border-radius: 5px;
    border-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    position: relative;
    background-color: rgb(236, 214, 186);
    min-width: 50px;
    left: 30%;
    margin-top: 10px;
    margin-inline: 40px;
}
#signinPage form button:hover {
    background-color: antiquewhite;
}

#history {
    display: grid;
    grid-template-rows: 1fr 6fr 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    width: 100%;
    height: 100%;
}
#history #history-header {
    text-align: center;
    color: #000000;
}
#history #history-content {
    border: #000000;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    align-items: center;
    justify-items: center
}
#history #history-content img {
    border-radius: 3%;
    width: 200px;
    height: 200px;
    cursor: pointer;
}
#history #history-footer {
    font-weight: 500;
    text-align: center;
    align-self: center;
    width: 100%;
    height: 50px;
}
#history #history-footer span button {
    cursor: pointer;
}

#aboutList {
    list-style: none;
    top: 50%;
    left: 50%;
    position: relative;
    transform: translate(-50%, -50%);
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    border-radius: 10px;
    margin-top: 200px;
}
#aboutList ul {
    list-style: none;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    border-radius: 10px;
    transition: 0.5s;
    cursor: pointer;
}